* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0px;
    overflow-x: hidden;

}

*:focus {
    outline: none;
}


a {
    text-decoration: none;
}

input {
    margin: 0;
}